.card {
    border-color: #542120 !important;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    /* box-shadow: 0 8px 16px white; */
    /* transition: box-shadow 0.3s ease-in-out; */
    transform: scale(1.05);
}
.card-header {
    background-color: #A96564 !important;
}
.card-title::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background-color: #542120;
    opacity: 40%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
