:root {
    --main-color-light: #542120;
}
/* Start Header */
header {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
/* Start Navbar */
.navbar {
    width: 100% !important;
    height: 15%;
    display: block !important;
}
.nav-item a {
    text-decoration: none;
    font-size: 1.5em;
}
.nav-item a:hover {
    color: #A96564 !important;
}
/* End Navbar */
/* End Header */
/* Med Screen */
@media(max-width: 67.5em) {
    /* Start Header */
    header {
        background-position-y: 0%;
    }
    /* Start Navbar */
    .navbar-toggler {
        background-color: white !important;
    }
    .nav-item a {
        color: white;
    }
    /* End Navbar */
    /*End Header */
}
/* Small Screen */
@media (max-width: 47.9375em) {
    /* Start Header */
    header {
        margin-bottom: 98.5% !important;
    }
    /* Start Navbar */
    .navbar {
        padding-top: 0px !important;
        /* margin-top: 10px !important; */
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
        display: none;
        margin-top: 3% !important;
        margin-left: 0% !important;
        left: 0;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item {
        padding-top: 10px !important;
    }
    .nav-item a {
        color: var(--main-color-light) !important;
        background-color: white;
    }
    .nav-item a:hover {
        color: #ffcc00 !important;
    }
    /* End Navbar */
    /* End Header */
}
