:root
{
    --main-color-light: #542120;
}

/* Start Header */

header
{
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* End Header */

/* Start Navbar */

.navbar
{
    width: 100% !important;
    height: 15%;
}
.nav-item a
{
    text-decoration: none;
    font-size: 1.5em;
}
.nav-item a:hover
{
    color: #FEBAB9 !important;
}
/* End Navbar */

/* Med Screen */
@media(max-width: 67.5em)
{
    /* Start Header */

    header
    {
        background-position-y: 0%;
    }

    /*End Header */

    /* Start Navbar */

    .navbar-toggler
    {
        background-color: #FEBAB9 !important;
    }
    .nav-item a
    {
        color: white;
    }

    /* End Navbar */
}

/* Small Screen */
@media (max-width: 47.9375em)
{
    /* Start Header */

    header
    {
        margin-bottom: 98.5% !important;
    }

    /* End Header */

    /* Start Navbar */

    .navbar
    {
        padding-top: 0px !important;
    }
    .nav-list
    {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        display: none;
        margin-top: 3.5rem !important;
        margin-left: 0% !important;
        left: 0;
        background-color: #FEBAB9;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item
    {
        padding-top: 10px !important;
    }
    .nav-item a
    {
        color: var(--main-color-light) !important;
        background-color: #FEBAB9;
    }
    .nav-item a:hover
    {
        color: #ffcc00 !important;
    }

    /* End Navbar */
}
