/* Start Landing */

.my-name h1
{
    font-size: 500%;
    font-weight: bold;
}
.description h2
{
    border-radius: 20px;
    width: fit-content;
}

/* End Landing */

/* Med Screen */
@media(max-width: 67.5em)
{
    /* Start Landing */
    .landing {
        padding: 0rem;
    }
    .figure .icon-holder {
        width: 6rem !important;
        height: 6rem !important;
        margin: 1rem;
        padding: 1rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .my-name h1 {
        font-size: 350%;
    }
    .description h2 {
        font-size: large;
    }
    /* End Landing */
}
/* Small Screen */
@media (max-width: 47.9375em) {
    /* Start Landing */
    .landing {
        padding: 1rem;
    }
    .my-name h1 {
        font-size: 4em;
    }
    .description h2 {
        font-size: 1.2em;
    }
    .base-line h1 {
        font-size: 2em;
    }
    .titles {
        width: 100% !important;
    }
    .description {
        justify-content: center;
    }
    .figure {
        width: 90% !important;
    }
    .fun-line {
        flex-direction: column;
    }
    .fun-line .first-part {
        text-align: start !important;
        padding: 1rem;
        padding-left: 1.5rem;
        border-top: 1px solid white;
    }
    .fun-line .second-part {
        text-align: end !important;
        padding: 1rem;
        padding-right: 1.5rem;
    }
    /* End Landing */
}
