/* Start Landing */

.titles
{
    width: fit-content !important;
}
.titles span
{
    font-size: 250%;
    color: #FEBAB9;
    font-weight: bold;
}
.my-name-container
{
    overflow: hidden;
    border-right: .15em solid #FEBAB9;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing
{
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret
{
    from, to { border-color: transparent }
    50% { border-color: #FEBAB9; }
}
.my-name-container::after
{
    content: "";
    animation: blink-caret 0.75s step-end infinite;
}
.my-name-container.typing-done
{
    border-right: 0px;
    animation: none;
}
.my-name
{
    font-size: 500%;
    font-weight: bold;
}
.description h2
{
    border-radius: 20px;
    width: fit-content;
    background-color: #FEBAB9;
}
.remote-repo,
.remote-repo-2,
.linked-in
{
    border-radius: 50%;
    width: 70px !important;
    margin-left: 30% !important;
}
.remote-repo:hover,
.remote-repo-2:hover,
.linked-in:hover
{
    background-color: #FEBAB9;
}

/* End Landing */

/* Med Screen */
@media(max-width: 67.5em)
{
    /* Start Landing */
    .landing
    {
        padding: 0rem;
    }
    .figure .icon-holder
    {
        width: 6rem !important;
        height: 6rem !important;
        margin: 1rem;
        padding: 1rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .my-name
    {
        font-size: 330% !important;
    }
    .description h2
    {
        font-size: large;
    }
    /* End Landing */
}

/* Small Screen */
@media (max-width: 47.9375em)
{
    /* Start Landing */
    .landing
    {
        padding: 1rem;
    }
    .my-name-container h1
    {
        font-size: 4em;
    }
    .description h2
    {
        font-size: 1.2em;
    }
    .base-line h1
    {
        font-size: 2em;
    }
    .titles
    {
        width: 100% !important;
    }
    .description
    {
        justify-content: center;
    }
    .figure
    {
        display: none !important;
    }
    .remote-repo-collection
    {
        display: flex;
        gap: 2rem;
        width: 100% !important;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .remote-repo,
    .remote-repo-2,
    .linked-in
    {
        height: 100% !important;
        margin-left: 0 !important;
    }
    .fun-line {
        flex-direction: column;
    }
    .fun-line .first-part {
        text-align: start !important;
        padding: 1rem;
        padding-left: 1.5rem;
        border-top: 1px solid white;
    }
    .fun-line .second-part {
        text-align: end !important;
        padding: 1rem;
        padding-right: 1.5rem;
    }
    /* End Landing */
}
