/* Start Main */
main {
    order: 2;
}
/* Start Section */
main section {
    margin-right: 0 !important;
}
main section div h1 {
    font-size: 5rem;
}
.first-element {
    padding: 5% !important;
    width: 48.1% !important;
    gap: 1%;
}
.second-element {
    padding: 5% !important;
    width: 51.9% !important;
}
p {
    text-align: justify;
    hyphens: auto;
}
.ls-elem-after::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background-color: #542120;
    opacity: 40%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
hr {
    height: 3px !important;
    color:  #542120;
    opacity: 100%;
}
a {
    text-decoration: none !important;
}
#skills .first-element {
    gap: 30rem;
}
.skill-list {
    line-height: 5.5rem;
}
/* End Section */
/* End Main */
/* Med Screen */
@media (max-width: 67.5em) {
}
/* Small Screen */
@media (max-width: 47.9375em) {
    section {
        flex-direction: column;
    }
    .first-element {
        width: 100% !important;
    }
    .second-element {
        width: 100% !important;
    }
    main section div h1 {
        font-size: 3rem !important;
    }
    #education {
        flex-direction: column-reverse;
    }
    #participations {
        flex-direction: column-reverse;
    }
    .list-element {
        display: block !important;
    }
    .list-element label {
        width: 100% !important;
    }
    .progress {
        width: 80% !important;
    }
    #skills .first-element {
        padding: 3rem !important;
        gap: 5rem !important;
    }
    .skill-list {
        line-height: 2.5rem;
    }
    .skill-list span {
        font-size: 1.15rem;
    }
}
