:root
{
    --main-color-light: #542120;
}

/* Start Section Header */

.section-header
{
    position: relative;
}
.section-header::after
{
    content: "";
    width: 20%;
    height: 3px;
    border-radius: 50%;
    opacity: 40%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#about .section-header::after,
#skills .section-header::after
{
    background-color: var(--main-color-light);
}
#participations .section-header::after,
#projects .section-header::after
{
    background-color: white;
}

/* End Section Header */

/* Start Section Content */

.section-content
{
    padding: 3rem;
}
.pivot-row
{
    border-top: 2px solid var(--main-color-light);
    border-bottom: 2px solid var(--main-color-light);
}
.pivot-column
{
    border-left: 2px solid var(--main-color-light);
    border-right: 2px solid var(--main-color-light);
}
.skill-group
{
    padding: 2rem !important;
}
.skill-group-title span
{
    font-size: 1.8rem;
}
p
{
    font-size: 2rem;
    text-align: justify;
    hyphens: auto;
}

/* End Section Content */

/* Med Screen */
@media (max-width: 67.5em)
{
}

/* Small Screen */
@media (max-width: 47.9375em)
{
    /* Start Section Content */

    .section-content
    {
        padding: 0.5rem;
    }
    .card
    {
        width: 100% !important;
    }
    .pivot-column
    {
        border: 0;
    }
    .pivot-row
    {
        border: 0;
    }
    .pivot-column.pivot-row {
        display: none;
    }
    .skill-group {
        width: 100% !important;
        padding: 0rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        border-bottom: 2px solid var(--main-color-light);
    }
    .skill-group-title span {
        font-size: 1.5rem !important;
    }
    p {
        font-size: 1.3rem;
    }

    /* End Section Content */
}
