:root
{
    --main-color-light: #542120;
}

/* Start Section Header */

.section-header
{
    position: relative;
}
.section-header::after
{
    content: "";
    width: 20%;
    height: 3px;
    border-radius: 50%;
    opacity: 40%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#about .section-header::after,
#skills .section-header::after
{
    background-color: var(--main-color-light);
}
#participations .section-header::after,
#projects .section-header::after,
#contact .section-header::after
{
    background-color: white;
}
#footer
{
    border-top: 2px dashed white;
}
#contact
{
    background-color: #985453;
    border-radius: 2rem;
}
.contact-link
{
    text-decoration: none;
}
.contact-link:hover
{
    color: #439cfc;
}

/* End Section Header */

/* Start Section Content */

.section-content
{
    padding: 3rem;
}
.framework-logo-holder
{
    height: 30% !important;
}
.framework-logo
{
    height: 100% !important;
}
#projects .card
{
    height: 33rem !important;
}
p
{
    font-size: 2rem;
    text-align: justify;
    hyphens: auto;
}
.icon {
    width: 90%;
    height: 90%;
}

/* End Section Content */

/* Small Screen */
@media (max-width: 47.9375em)
{
    /* Start Section Content */

    #participations .section-content,
    #projects .section-content
    {
        padding: 1.5rem;
    }
    #about .section-content,
    #skills .section-content
    {
        padding: 0.5rem;
    }
    .card
    {
        width: 100% !important;
    }
    p {
        font-size: 1.3rem;
    }
    .contact-method
    {
        width: 100% !important;
    }

    /* End Section Content */
}
