.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    background-image: url("images/header-image.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding-left: 20px;
    padding-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.header-titles {
    order: 2;
    align-self: flex-start;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    top: 10px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #542120;
    padding: 10px 15px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.text-white {
    color: white !important;
}

.nav-item a:hover {
    color: #007bff !important;
}

.my-name {
    font-size: 5em;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 20px;
    color: #542120;
    transition: color 0.3s ease;
}

.description {
    padding: 20px;
    align-self: flex-start;
    background-color: #542120;
    color: white;
    border-radius: 20px;
    transition: color 0.3s ease;
}

.base-line {
    margin-left: 20px;
    align-self: flex-start;
    color: #542120;
}


@media (max-width: 756px) {

    .nav-toggle {
        display: block;
    }

    .hamburger::after,
    .hamburger::before {
        background-color: #542120;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        display: none;
        position: absolute;
        margin-top: 110%;
        left: 0;
        background-color: white;
        padding: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item a {
        color: #542120 !important;
        background-color: white;
    }

    .nav-item a:hover {
        color: #ffcc00 !important;
    }

    #header {
        display: block;
        padding-left: 0;
        padding-top: 0;
        background-position-y: 25%;
    }

    .navbar {
        padding-top: 0;
        margin-top: 0;
    }

    .hamburger {
        background-color: white;
    }

    .header-titles {
        margin-top: 85%;
        margin-left: 10%;
    }

    .my-name {
        font-size: 3em;
    }

    .description {
        font-size: 1em;
    }

    .base-line {
        font-size: 1.5em;
    }
}
