/* Start Main */

main {
    order: 2;
    margin-top: 10rem;
}
/* Med Screen */
@media (max-width: 1080px) {
    main {
        margin-top: 33rem !important;
    }
}
/* Small Screen */
@media (max-width: 767px) {
}
