/* Start Main */

main {
    margin-top: 10rem;
}
/* Med Screen */
@media (max-width: 1080px) {
    main {
        margin-top: 40rem;
    }
}
/* Small Screen */
@media (max-width: 767px) {
    main {
        margin-top: 25rem;
    }
}
